 body{
	height: 100%;
	padding:0;
	margin:0;
	color: #222;
 }
h2{
	padding: 5rem 0 1.5rem 0;
}
section{
	padding-bottom: 1rem;
}
.navbar{
	padding:.3rem;
}

.navbar-nav li{
	padding-right: 1rem;
}
.nav-link{
	font-size: 1.1rem !important;
	
}
.navbar-nav li.nav-item a.nav-link:hover {
  color:  #1FA9FF  ;
}
.navbar-brand>img{
	padding-right: .5rem;
}
.bg-navbar{
	background-color:#2C3E50;
}
.jumbotron {
	align-items: center;
	display: flex;
	background-image: url('../img/bg3.jpg');
	background-position:center;
	background-size: cover;
	min-height: 70vh;
	color: #fff;
	margin:0;
}
.jumbotron p{
	font-size: 2rem;
}

.bg-primary{
	background-color: #F16529 !important;
}

.bg-secondary{
	background-color: #1FA9FF !important;
} 

.card-body {
  display: flex;
  flex-direction: column;
}
.card-link {
   margin-top: auto;
}
.card-img-top {
	 height: 15rem;
    object-fit: cover;
}

.social a{
	font-size: 5em;
	padding: 3rem;
}
.fa-facebook{
	color:#3b5998;
}

.fa-instagram{
	color:#517fa4;
}
.fa-youtube{
	color: #bb0000;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover{
	color: #d5d5d5;
}

.footer{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-align:center;
	background-color:#2C3E50;
	color: #fff;
}
.copyright {
	padding: 20px 0 20px;
    border-top: 1px solid #666;
    background: #1e1e1e;
}

.zoom{
	position: relative;
	overflow: hidden;
}
.zoom:hover img{
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.zoom img{
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.toplogo img {
    height : 10%;
    width : 10%;
    margin-top: 2px;
} 
	



